@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

    .main .top-row {
        background-color: #e6e6e6;
        border-bottom: 1px solid #d6d5d5;
    }

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

    .sidebar .top-row {
        background-color: rgba(0,0,0,0.4);
    }

    .sidebar .navbar-brand {
        font-size: 1.1rem;
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

        .nav-item a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

@media (max-width: 767.98px) {
    .main .top-row {
        display: none;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}


/* questions css */
.question-row:not(:last-child) {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.question-row .stat-area {
    padding-top: .5em;
}

.question-row .stats {
    display: block;
    text-align: center;
}

.question-row .title {
    font-size: 20px;
}


/* create questions css */
#create-question #title-label {
    font-weight: bold;
}

#create-question #title {
    width:700px;
}
#create-question #text-label {
    font-weight: bold;
    margin-top: 20px;
}
#create-question #text {
    width: 700px;
    height: 300px;
}

/* question page css */
#question #question-title {
    border-bottom: 1px solid #e4e6e8;
}
#question #question-area {
    border-bottom: 1px solid #e4e6e8;
    padding-bottom:15px;
}

#question-info {
    padding-top:20px;
}

#question-votes span {
    display:table;
    margin:0 auto;
}

#question-votes .votes {
    font-size:29px;
}

#question-votes .oi {
    cursor: pointer;
}

#question-votes .oi-caret-bottom {
    font-size: 30px;
}

#question-votes .oi-caret-top {
    font-size: 30px;
}

#question-votes .oi-star {
    font-size:18px;
    padding-top:20px;
}

#question .tags span {
    padding: 3px 9px;
    background-color: lightgrey;
    border-radius: 2px;
}

#question .tags span a {
    text-decoration:none;
}
#question .tags span:not(:last-child) {
    margin-right:8px;
}

#question .user {
    background-color: #b1ccd5; 
    border-radius:3px;
}
#question .user span {
    display: table;
}