@page "/create-question"
@using TinRoll.Shared
@using Microsoft.AspNetCore.Blazor.Services
@inject IUriHelper uriHelper
@inject HttpClient Http

<h2>New Question</h2>

<EditForm Model="@questionDto" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText id="title" bind-Value="@questionDto.Title" />

    <InputTextArea Id="text" bind-Value="@questionDto.Text" />

    <button type="submit">Submit</button>
</EditForm>

@functions {
    private QuestionDto questionDto = new QuestionDto();

    private async Task HandleValidSubmit()
    {
        questionDto.UserId = 1;
        var createdQuestion = await Http.SendJsonAsync<QuestionDto>(HttpMethod.Post, "api/questions", questionDto);
        uriHelper.NavigateTo("/questions");
    }
}