@page "/questions"
@using TinRoll.Shared
@inject HttpClient Http

<h2>All Questions</h2>


@if (questions == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var question in questions)
    {
        <div class="row question-row">
            <div class="col-1 stat-area">
                <span class="stats">0</span>
                <span class="stats">votes</span>
                <span class="stats">0</span>
                <span class="stats">answers</span>
                <span class="stats">2 views</span>
            </div>
            <div class="col-11">
                <div class="row">
                    <NavLink class="title" href="question">
                        @question.Title
                    </NavLink>
                </div>
                <div class="row">
                    @question.Text
                </div>
            </div>
        </div>
    }
}


@functions {
    QuestionDto[] questions;

    protected override async Task OnInitAsync()
    {
        questions = await Http.GetJsonAsync<QuestionDto[]>("api/questions");
    }
}